body{
    background-color:blue;
    font-family: sans-serif;
}


h1{


    color: darkorange;
    text-align:center;
    text-decoration: underline;
}
h2{
    color: brown;
}
p{
    color: darkmagenta;
    font-size:23pt;
}
button{
    background-color: darkgreen;
    color: yellow;
}
#contact{
    color: deeppink;

}

